.SavePlanet {
  margin-bottom: 6rem !important;
}

.swing {
  animation: swing ease-in-out 2s infinite alternate;
  transform-origin: center -15px;
  float:left;
}

.swing img {
  display: block;
}

@keyframes swing {
  0% { transform: rotate(2deg); }
  100% { transform: rotate(-2deg); }
}
